@model fiap.Models.Musica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Musica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstiloMusical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstiloMusical)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
