@model HomeViewModel




<h1>Teste da minha View</h1>
<h1> @ViewData["aluno"] </h1>
<h1> @ViewData["TipoDoProduto"] </h1>
<h1> @ViewBag.TipoDoProduto </h1>


<h1>@Model.NomeDoAluno</h1>
<h1>@Model.CategoriaDoProduto</h1>

<img src="/giphy.webp" />
  